.form-container {
    z-index: 3;
    position: fixed;
    inset: 0;
    display: grid;
    opacity: 0;
    place-items: center;
    background-color: hsl(from var(--text-color) h s l / 0.1);
    backdrop-filter: blur(1rem);
}

.form-container.fade-in {
    animation: fadein 125ms forwards ease-in-out;
}

.form-container.fade-out {
    animation: fadeout 125ms forwards ease-in-out;
    pointer-events: none;
}

.form-container form {
    background-color: var(--base-color1);
    border-radius: 1rem;
    padding: 2rem;
    width: clamp(20rem, 80%, 24rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 0 2rem hsl(from var(--text-color) h s l / 0.5);
}

.form-container form > h2 {
    font: bold 2.4rem var(--font-base);
    color: var(--text-color);
}

.form-container form .input-label > label {
    display: block;
    font: normal 1rem var(--font-secundary);
    color: var(--text-color);
}

.form-container form .input-label input {
    outline: none;
    width: 100%;
    min-height: 3rem;
    background-color: hsl(from var(--base-color1) h s calc(l - 5));
    border-radius: .5rem;
    padding-inline: 1rem 3rem;
    font: normal 1rem var(--font-secundary);
}

.form-container form .input-label .input-content {
    position: relative;
}

.form-container form .input-label .input-content .icon-container {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 0.3rem;
    height: 80%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    background-color: transparent;
    border-radius: .2rem;
    transition: all 125ms;
    
    &:hover {
        background-color: hsl(from var(--base-color1) h s calc(l - 15));
    }
}

.form-container form .input-label .input-content .icon-container svg {
    stroke: var(--text-color);
    margin-bottom: -3px;
}

.form-container form button[type='submit'] {
    min-height: 3rem;
    border-radius: .5rem;
    font: normal 1.2rem var(--font-base);
    background-color: var(--text-color);
    color: var(--base-color1);
    transition: all 125ms;

    &:hover {
        box-shadow: 0 0 1rem var(--text-color);
    }
}

.form-container p {
    font: normal 1rem var(--font-secundary);
}

.form-container p > .link {
    cursor: pointer;
    color: var(--text-color);

    &:hover {
        text-decoration: underline;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}