@import 'tailwindcss';

@font-face {
    font-family: 'Chivo';
    src: url('/assets/fonts/Chivo_Mono/ChivoMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}

:root {
    --height-header: 5rem;

    --base-color1: #f0f0ff;
    --base-color2: #4060ef;
    --base-color3: #ef7020;
    --base-color4: #efdf00;
    --base-color5: #ef0010;
    --base-color6: #12ef20;
    --text-color: #303060;

    --font-primary: 'Chivo';
    --font-secundary: 'Roboto'
}

@theme inline {
    /* ============================== CABEÇALHO ============================== */
    --height-header: var(--height-header);
    --width-header: min(100rem, calc(100% - 2rem));
    --color-header: hsl(from var(--base-color1) h s calc(l + 10));

    /* ============================== CORES ============================== */
    --color-color1-light: hsl(from var(--base-color1) h s calc(l + 5));
    --color-color1-normal: hsl(from var(--base-color1) h s l);
    --color-color1-dark: hsl(from var(--base-color1) h s calc(l - 5));

    --color-color2-light: hsl(from var(--base-color2) h s calc(l + 5));
    --color-color2-normal: hsl(from var(--base-color2) h s l);
    --color-color2-dark: hsl(from var(--base-color2) h s calc(l - 5));

    --color-color3-light: hsl(from var(--base-color3) h s calc(l + 5));
    --color-color3-normal: hsl(from var(--base-color3) h s l);
    --color-color3-dark: hsl(from var(--base-color3) h s calc(l - 5));

    --color-color4-light: hsl(from var(--base-color4) h s calc(l + 5));
    --color-color4-normal: hsl(from var(--base-color4) h s l);
    --color-color4-dark: hsl(from var(--base-color4) h s calc(l - 5));

    --color-color5-light: hsl(from var(--base-color5) h s calc(l + 5));
    --color-color5-normal: hsl(from var(--base-color5) h s l);
    --color-color5-dark: hsl(from var(--base-color5) h s calc(l - 5));

    --color-color6-light: hsl(from var(--base-color6) h s calc(l + 5));
    --color-color6-normal: hsl(from var(--base-color6) h s l);
    --color-color6-dark: hsl(from var(--base-color6) h s calc(l - 5));

    --color-color-text-light: hsl(from var(--text-color) h s calc(l + 5));
    --color-color-text-normal: hsl(from var(--text-color) h s l);
    --color-color-text-dark: hsl(from var(--text-color) h s calc(l - 5));

    --color-background-blur: hsl(from var(--text-color) h s l / 0.1);

    --color-danger: hsl(from var(--base-color5) h s calc(l - 5) / 0.75);
    --color-ok: hsl(from var(--base-color6) h s calc(l - 5) / 0.75);

    /* ============================== RODAPÉ ============================== */
    --shadow-basic: 0 0 1rem hsl(from var(--text-color) h s l / 0.25);
    --shadow-color1: 0 0 1rem hsl(from var(--base-color1) h s l);
    --shadow-color2: 0 0 1rem hsl(from var(--base-color2) h s l);
    --shadow-color3: 0 0 1rem hsl(from var(--base-color3) h s l);
    --shadow-color4: 0 0 1rem hsl(from var(--base-color4) h s l);
    --shadow-color5: 0 0 1rem hsl(from var(--base-color5) h s l);
    --shadow-color6: 0 0 1rem hsl(from var(--base-color6) h s l);
    --shadow-text-color: 0 0 1rem hsl(from var(--text-color) h s l);

    /* ============================== RODAPÉ ============================== */
    --font-primary: var(--font-primary);
    --font-secundary: var(--font-secundary);

    --text-md: 1rem;
}

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .wrapper {
        min-height: 100vh;
        background-color: var(--base-color1);
        display: grid;
        grid-template: auto auto / 6rem auto;
    }
}

@layer components {
    .nav-header {
        position: fixed;
        top: -1rem;
        left: -1rem;
        height: 100vh;
        width: 100vw;
        background-color: var(--base-color1);

        &>ul {
            margin-top: 7rem;
            height: calc(100% - 7rem);
            width: 100%;
            flex-direction: column;
            align-items: stretch;
            padding-inline: 2rem;
        }

        & button {
            width: 100%;
            text-align: left;
            font-size: 2rem;
            border: none;
            padding: 1rem;
            border-radius: 1rem;
            background: transparent;
            color: var(--text-color);
            transition: all 125ms;
        }

        & button:hover {
            box-shadow: none;
            background-color: hsl(from var(--text-color) h s l / 0.1);
        }
    }

    .signup {
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font: normal 1rem var(--font-primary);
        color: var(--base-color1);
        transition: all 250ms ease;
        background-image: linear-gradient(135deg,
                hsl(from var(--base-color6) h s l),
                hsl(from var(--base-color6) h s calc(l - 15)));

        &:hover {
            box-shadow: 0 0 1rem hsl(from var(--base-color6) h s l);
        }
    }

    .signin {
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font: normal 1rem var(--font-primary);
        color: var(--base-color1);
        transition: all 250ms ease;
        border: 2px solid hsl(from var(--base-color6) h s calc(l - 5));
        background-color: transparent;
        color: hsl(from var(--base-color6) h s calc(l - 5));

        &:hover {
            box-shadow:
                0 0 1rem hsl(from var(--base-color6) h s l / 0.5),
                inset 0 0 1rem hsl(from var(--base-color6) h s l / 0.5);
        }
    }

    .form {
        background-color: var(--base-color1);
        border-radius: 1rem;
        padding: 2rem;
        width: clamp(20rem, 80%, 24rem);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        box-shadow: 0 0 2rem hsl(from var(--text-color) h s l / 0.5);
    }
}

@utility title-cliptext {
    background-clip: text;
    background-image: linear-gradient(to right,
            var(--base-color2),
            var(--base-color3),
            var(--base-color4));
}

@utility animate-title {
    animation: animate-title 1s forwards ease-in-out;
}

@utility fade-in {
    animation: fade-in 125ms forwards ease-in-out;
}

@utility fade-out {
    animation: fade-out 125ms forwards ease-in-out;
}

@utility animate-progress {
    animation: animate-progress 10s linear forwards;
}

@utility animate-message-entry {
    animation: animate-message-entry 500ms ease forwards;
}

@utility animate-message-leaving {
    animation: animate-message-leaving 500ms ease forwards;
}

@keyframes animate-title {
    from {
        transform: translateY(25%);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes animate-progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes animate-message-entry {
    from {
        transform: translateX(calc(100% + 2rem));
    }

    to {
        transform: none;
    }
}

@keyframes animate-message-leaving {
    from {
        transform: none;
    }

    to {
        transform: translateX(calc(100% + 2rem));
    }
}