@charset "UTF-8";

@font-face {
    font-family: 'Chivo';
    src: url('assets/fonts/Chivo_Mono/ChivoMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --header-height: 5rem;
    --base-color1: #f0f0ff;
    --base-color2: #4060ef;
    --base-color3: #ef7020;
    --base-color4: #efdf00;
    --base-color5: #ef0010;
    --base-color6: #12ef20;
    --text-color: #303060;
    --font-base: 'Chivo';
    --font-secundary: 'Roboto'
}

.wrapper {
    min-height: 100vh;
    background-color: var(--base-color1);
    display: grid;
    grid-template: auto auto / 6rem auto;
    grid-template-areas: 
        "sidebar main"
        "footer footer"
    ;
}