services:
    nginx:
        build: ./client
        ports:
            - '3000:80'
        depends_on:
            - server

    server:
        build: ./server
        environment:
            - SECRET_KEY=${SECRET_KEY}
            - DATABASE_URI=${DATABASE_URI}
        depends_on:
            - mysql

    mysql:
        image: mysql:8
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: true
            MYSQL_DATABASE: db_cubetime
        volumes:
            - db_data:/var/lib/mysql
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 5s
            timeout: 5s
            retries: 10

volumes:
    db_data:
