.messages-container {
    z-index: 4;
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    pointer-events: none;
}

.message-content.danger {
    background-color: hsl(from var(--base-color5) h s calc(l - 5) / 0.75);
    backdrop-filter: blur(0.5rem);
}

.message-content.ok {
    background-color: hsl(from var(--base-color6) h s calc(l - 10) / 0.75);
    backdrop-filter: blur(0.5rem);
}

.message-content.entry {
    animation: messageEntry 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.message-content.leaving {
    animation: messageLeaving 500ms ease-in-out forwards;
}

.message-content {
    position: relative;
    width: 20rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 0.5rem;
    overflow-x: hidden;
    pointer-events: all;
}

.message-content .cancel-btn {
    cursor: pointer;
    background-color: transparent;
    border-radius: 0.25rem;
    transition: all 250ms;
    padding: 0.25rem;

    &:hover {
        background-color: hsl(from var(--base-color1) h s l / 0.25);
    }
}

.message-content .cancel-btn > svg {
    stroke: var(--base-color1);
    margin-bottom: -2px;
}

.message-content .text-content {
    align-self: center;
}

.message-content .text-content > span {
    font: normal 1rem var(--font-secundary);
    color: var(--base-color1);
}

.message-content .progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
}

.message-content .progress-bar > .progress-value {
    background-color: hsl(from var(--base-color1) h s l / 0.75);
    height: 100%;
    width: 0;
    border-radius: .5rem;
    animation: progress 10s linear forwards;
}

@keyframes progress {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes messageEntry {
    from { transform: translateX(calc(100% + 2rem)); }
    to { transform: none; }
}

@keyframes messageLeaving {
    from { transform: none; }
    to { transform: translateX(calc(100% + 2rem)); }
}