.messages-container {
    z-index: 4;
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: orange;
}

.message-content.danger {
    background-color: hsl(from var(--base-color5) h s calc(l - 5));
}

.message-content.ok {
    background-color: hsl(from var(--base-color6) h s calc(l - 10));
}

.message-content.entry {
    animation: messageEntry 1s ease-out forwards;
}

.message-content.leaving {
    animation: messageLeaving 1s ease-out forwards;
}

.message-content {
    position: relative;
    min-width: 16rem;
    max-width: 20rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 0.5rem;
    overflow-x: hidden;
}

.message-content .cancel-container {
    background-color: blue;
}

.message-content .text-content > span {
    font: normal 1rem var(--font-secundary);
    color: var(--base-color1);
}

.message-content .progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
}

.message-content .progress-bar > .progress-value {
    background-color: hsl(from var(--base-color1) h s l / 0.75);
    height: 100%;
    width: 0;
    border-radius: .5rem;
    animation: progress 10s linear forwards;
}

@keyframes progress {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes messageEntry {
    from { transform: translateX(100%); }
    to { transform: none; }
}

@keyframes messageLeaving {
    from { transform: none; }
    to { transform: translateX(100%); }
}