/* ==================================================== WELCOME ==================================================== */
.welcome-container {
    grid-column: span 2;
    position: relative;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
}

.welcome-container .text-container {
    opacity: 0;
    transform: translateY(25%);
    animation: fadein 1s forwards ease-in-out;
}

.welcome-container .text-container>h1 {
    font: bold 6rem var(--font-base);
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right,
            var(--base-color2),
            var(--base-color3),
            var(--base-color4));
    margin-bottom: 1.2rem;
}

.welcome-container .text-container>p {
    text-align: center;
    font: normal 1.6rem var(--font-secundary);
    color: var(--text-color);
}

@keyframes fadein {
    to {
        transform: none;
        opacity: 1;
    }
}