.welcome-container {
    grid-column: 1 / 3;
    position: relative;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
}

.welcome-container .text-container {
    opacity: 0;
    transform: translateY(25%);
    animation: fadein 1s forwards ease-in-out;
}

.welcome-container .text-container>h1 {
    font: bold 6em var(--font-base);
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right,
            var(--base-color2),
            var(--base-color3),
            var(--base-color4));
    margin-bottom: 1.2rem;
}

.welcome-container .text-container>p {
    text-align: center;
    font: normal 2em var(--font-secundary);
    color: var(--text-color);
}

@keyframes fadein {
    to {
        transform: none;
        opacity: 1;
    }
}

@media screen and (width <=1050px) {
    .welcome-container .text-container {
        font-size: 0.5rem;
        word-break: keep-all;
    }
}

@media screen and (width <=400px) {
    .welcome-container .text-container>h1 {
        font-size: 1.5rem;
        margin-bottom: none;
    }

    .welcome-container .text-container>p {
        display: none;
    }
}