.error-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--base-color1);
}

.error-container>h1 {
    font: bold 3rem var(--font-base);
    color: var(--text-color);
}

.error-container button {
    cursor: pointer;
    padding: 1rem 4rem;
    border-radius: 1rem;
    background-color: hsl(from var(--base-color2) h s calc(l - 10));
    font: normal 1.2rem var(--font-base);
    color: var(--base-color1);
    transition: all 250ms;

    &:hover {
        box-shadow: 0 0 1rem hsl(from var(--base-color2) h s l);
    }
}