footer {
    padding: 1rem;
    background-color: hsl(from var(--text-color) h s calc(l - 10));
}

footer > p {
    text-align: center;
    font: normal 1rem var(--font-base);
    color: var(--base-color1);
}