.sidebar {
    grid-area: sidebar;
}

.sidebar-container {
    position: sticky;
    top: 1rem;
    height: calc(100vh - 2rem);
    background-color: hsl(from var(--base-color1) h s calc(l + 10));
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 1rem hsl(from var(--text-color) h s l / 0.125);
}

.sidebar-container .sidebar-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.sidebar-container .sidebar-content > .logo {
    width: 100%;
}

.sidebar-container .sidebar-content > .menu {
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-container .sidebar-content > .menu button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: all 125ms;

    &:hover {
        background-color: hsl(from var(--base-color1) h s calc(l - 5));
    }
}

.sidebar-container .sidebar-content > .menu button svg {
    stroke: var(--text-color);
    margin-bottom: -0.4px;
}

.sidebar-container .sidebar-content > .menu #logout-btn svg {
    stroke: var(--base-color5);
}